import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-<%= dasherize(name) %>-container2',
  templateUrl: './<%= dasherize(name) %>-container2.component.html',
  styleUrls: ['./<%= dasherize(name) %>-container2.component.scss']
})
export class <%= classify(name) %>Container2Component implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
