import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-<%= dasherize(name) %>-parent-container',
  templateUrl: './<%= dasherize(name) %>-parent-container.component.html',
  styleUrls: ['./<%= dasherize(name) %>-parent-container.component.scss']
})
export class <%= classify(name) %>ParentContainerComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
