<p>publishablelib1-parent-container works!</p>
<a [routerLink]="['container1']">container1</a>
<a [routerLink]="['container2']">container2</a>
<a [routerLink]="['container3']">container3</a>
<a [routerLink]="['container4']">container4</a>
<a [routerLink]="['container5']">container5</a>
<a [routerLink]="['container6']">container6</a>
<a [routerLink]="['container7']">container7</a>
<a [routerLink]="['container8']">container8</a>
<a [routerLink]="['container9']">container9</a>
<a [routerLink]="['container10']">container10</a>

<router-outlet></router-outlet>
