<h1>Welcome to testicann!</h1>

<h1>Architech</h1>

<a [routerLink]="['lib1']">lib1</a>
<a [routerLink]="['lib2']">lib2</a>
<a [routerLink]="['lib3']">lib3</a>
<a [routerLink]="['lib4']">lib4</a>
<a [routerLink]="['lib5']">lib5</a>
<a [routerLink]="['lib6']">lib6</a>
<a [routerLink]="['lib7']">lib7</a>
<a [routerLink]="['lib8']">lib8</a>
<a [routerLink]="['lib9']">lib9</a>
<a [routerLink]="['lib10']">lib10</a>
<a [routerLink]="['lib11']">lib11</a>
<a [routerLink]="['lib12']">lib12</a>
<a [routerLink]="['lib13']">lib13</a>
<a [routerLink]="['lib14']">lib14</a>
<a [routerLink]="['lib15']">lib15</a>
<a [routerLink]="['lib16']">lib16</a>
<a [routerLink]="['lib17']">lib17</a>
<a [routerLink]="['lib18']">lib18</a>
<a [routerLink]="['lib19']">lib19</a>
<a [routerLink]="['lib20']">lib20</a>
<a [routerLink]="['lib21']">lib21</a>
<a [routerLink]="['lib22']">lib22</a>
<a [routerLink]="['lib23']">lib23</a>
<a [routerLink]="['lib24']">lib24</a>
<a [routerLink]="['lib25']">lib25</a>
<a [routerLink]="['lib26']">lib26</a>
<a [routerLink]="['lib27']">lib27</a>
<a [routerLink]="['lib28']">lib28</a>
<a [routerLink]="['lib29']">lib29</a>
<a [routerLink]="['lib30']">lib30</a>

<a [routerLink]="['publishablelib1']">publishablelib1</a>
<router-outlet></router-outlet>
