import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-<%= dasherize(name) %>-container7',
  templateUrl: './<%= dasherize(name) %>-container7.component.html',
  styleUrls: ['./<%= dasherize(name) %>-container7.component.scss']
})
export class <%= classify(name) %>Container7Component implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
